{% extends 'base-front.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center mt-3">Liste des produits</h1>
        <div class="row mt-3">
           
                {% for product in products %}
                <div class="col-4 mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{product.imagePath}}" alt="{{product.name}}">
                        <div class="card-body text-center">
                            <a href="{{path('app_product_notActive', {id:product.id})}}" class="text-dark text-decoration-none">{{product.name}} </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
<div class="d-flex justify-content-center my-3">{{ knp_pagination_render(products, "@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig") }}</div>
{% endblock %}
